.logo {
    background-image: url("../images/NetflixAjustado.png");
    background-size: cover;
}
.cta {
    border-radius: 1rem;
}
#main {
    height: 100vh;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
}
#carousel {
    
}

#burgerday {
    width: 18rem;
    height: 10rem;
    background-image: url(../images/hamburger-494706_640.jpg);
    background-position: center;
    background-size: 100%;
}
#about-us {
    background-color: #0e1213;
}
.bg-box {
    height: 100% !important;
}
.beige {
    background-color: beige;
}
.gris {
    background-color: gray;
}
